h4.text-center Эту страницу сохраните, в ней я буду публиковать макеты и скоро появятся новые страницы.
p.title-text Способ связи:
.row
  .col-xs-5.title-contact
    p Телефон:
    p Почта:
    p Skype:
    p Часы работы:
  .col-xs-7.number-contact
    p +7 (900) 26-27-443
    p pavel.a@art6.ru
    p pasha.anpleenko
    p Пн-Пт с 09:00 до 18:00 МСК
