doctype html
html(lang="ru")
  head
    block title
      title Art6 design page
    meta(charset='utf-8')
    link(rel="stylesheet", href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/style.css")
  body
    block link
      -var selected = 'main';

    block nav

    block main-menu

    block preview
