extends _layout.jade

block title
  title ART6 макеты

block main-menu
  .container
    .row
      .col-lg-6.col-lg-offset-3
        h3.text-center.mb20 Ссылки на поддомены
        div.list-group
          a(href="http://test.vseopro.ru/" target="_blank").list-group-item Vseopro
          a(href="http://assol.domen1.ru" target="_blank").list-group-item Ассоль 
          a(href="http://alfa-motors.tw1.ru" target="_blank").list-group-item Еврошторы 
        h3.text-center.mb20 Все макеты
        div.list-group
          a(href="/vseopro/index.html" target="_blank").list-group-item Vseopro
          a(href="/principal/index.html" target="_blank").list-group-item Принципал
          a(href="/zaim/index.html" target="_blank").list-group-item Краснодар займ
          a(href="/euroshori/index.html" target="_blank").list-group-item Еврошторы
          a(href="/assol/index.html" target="_blank").list-group-item Гостиница Ассоль
          a(href="/leannek/index.html" target="_blank").list-group-item Лаеннек
          a(href="/kadactr/index.html" target="_blank").list-group-item Кадастр и недвижимость
          a(href="/kubzoloto/index.html" target="_blank").list-group-item Кубанское Корона 
          a(href="/mysteak/index.html" target="_blank").list-group-item Mysteak 
          a(href="/kiparis/index.html" target="_blank").list-group-item Кипарис 
          a(href="/docnotebook/index.html" target="_blank").list-group-item Доктор Ноутбуков
          a(href="/Vell/index.html" target="_blank").list-group-item Vell-Auto
