extends ../_layout.jade

block main-menu
  .container
    .row
      .col-lg-6.col-lg-offset-3
        h3.text-center.mb20 Сайт Кипарис
        div.list-group
          a(href="main.html").list-group-item Главная
          a(href="inside-page.html").list-group-item Европа
          include ../_contacts.jade
