extends ../_layout.jade

block link
  -var selected = 'Детские отдых и оздоровление';

- block title
  title Кипарис

block nav
  include ./_nav.jade

block preview
  .center-image
    img(src="img/inside-page.jpg")



Изначально
Переменная заказчик = true 

Технического задание нету
Протитипа нету
Нету четкого понимания

Без технического задания и прототипа заказчик = false

Условие
Если заказчик = неадекват (false){
  то жди беды
  невры испорченны
  много кофе
  плохое понимание концепци сайта
  проект не идет как по маслу, а летит в опу
} заказчик адекватный (true){
  проект идет как по маслу
  все счастливы
  все довольны
  нервы целы
}
