extends ../_layout.jade

block main-menu
  .container
    .row
      .col-lg-6.col-lg-offset-3
        h3.text-center.mb20 Сайт Краснодар займ
        div.list-group
          a(href="main.html").list-group-item Главная
          include ../_contacts.jade
