extends ../_layout.jade

block title
  title Главное меню

block main-menu
  .container
    .row
      .col-lg-6.col-lg-offset-3
        h3.text-center.mb20 Vseopro
        div.list-group
          a(href="main.html").list-group-item Главная
          a(href="login-form.html").list-group-item Форма входа
          a(href="panel-upravlenia.html").list-group-item Панель управления
          a(href="inside-page.html").list-group-item Внутренняя страница
          a(href="path-registrations.html").list-group-item Регистрация на сайте
          a(href="registrations-informetions.html").list-group-item Благодарность за регистрацию
          a(href="user-settings.html").list-group-item Профиль
          a(href="mobile-menu.html").list-group-item Адаптивное меню
          a(href="find_result.html").list-group-item Результаты поиска
          a(href="setting_advenset_search.html").list-group-item Настройки расширенного поиска
          a(href="catalog.html").list-group-item Внутренняя каталог
