extends ../_layout.jade

block main-menu
  .container
    .row
      .col-lg-6.col-lg-offset-3
        h3.text-center.mb20 Сайт Ing.Garage
        div.list-group
          a(href="main.html").list-group-item Главная
          a(href="inside-page.html").list-group-item Категория услуг
          a(href="card.html").list-group-item Карточка услуг
          a(href="news.html").list-group-item Новости
          include ../_contacts.jade
