extends ../_layout.jade

block link
  -var selected = 'Категория продуктов';

- block title
  title КубКорона

block nav
  include ./_nav.jade

block preview
  .center-image
    img(src="img/inside-page.jpg")
